@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";
.profile_main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__default_margin {
    margin-right: 50px;
}

.profile__image {
    border-radius: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.profile_login {
    padding: 20px;
    color: $color-text;
    font-family: $font-main;
    font-size: 40px;
}

.settings_header {
    color: white;
    padding: 3px;
}

.profile_nav {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.profile_nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_nav_line {
    border: none; /* Убираем границу для браузера Firefox */
    width: 100%;
    background-color: $color-secondary;
    height: 3px;
    margin-top: 10px;
    color: $color-secondary;
}

.profile_nav_links_a {
    text-decoration-line: none;
    color: $color-text;
    font-family: $font-info;
    font-size: 20px;
}

.profile_nav_links_a:hover {
    color: $color-secondary;
    cursor: pointer;
}

.profile_nav_links_aBig {
    text-decoration-line: none;
    color: $color-secondary;
    font-family: $font-info;
    font-size: 30px;
}

