@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";
.lenta__object {
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 430px;
    width: 300px;
    padding: 10px;
    margin-top: 30px;
}

.object__image {
    position: relative;
    padding: 5px;
    border-radius: 30px;
}

.image__text {
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: $font-main;
    font-weight: bold;
    margin-top: 444px;
    margin-left: 20px;
}

.lenta__object a:hover{
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    visibility: visible;
}

.object__image:hover + .object__hidden{
    visibility: visible;
}


.object__hidden {
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
    min-width: 270px;
    min-height: 420px;
    border-radius: 25px;
    margin-top: -427px;
    margin-left: 5px;
    font-family: $font-info;
    color: white;
    visibility: hidden;
    pointer-events: none;
}

.object__hidden span {
    position: absolute;
    margin-left: 20%;
    margin-top: 330px;
}