@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";

.friendList_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.friendList_line {
  border: none; /* Убираем границу для браузера Firefox */
  background-color: rgba(71, 69, 69, 0.7);
  height: 3px;
  margin-top: 20px;
  color: rgba(71, 69, 69, 0.7);
}

.friendList_width {
  width: 90%;
}

.friendList_login {
  position: absolute;
  color: $color-text;
  text-decoration-line: none;
  font-family: $font-info;
  font-size: 30px;
}

.friendList_login:hover {
  cursor: pointer;
  color: $color-secondary;
}