@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";

.friendList_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.friendList_line {
  border: none; /* Убираем границу для браузера Firefox */
  background-color: rgba(71, 69, 69, 0.7);
  height: 3px;
  margin-top: 20px;
  color: rgba(71, 69, 69, 0.7);
}

.friendList_width {
  width: 90%;
}

.friendlist__image {
  border-radius: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.friendlist__default_margin {
  margin-right: 50px;
}

.friendList_login {
  position: absolute;
  color: $color-text;
  text-decoration-line: none;
  font-family: $font-info;
  font-size: 30px;
  &:hover {
    cursor: pointer;
    color: $color-secondary;
  }
}

@media (max-width: 679px) {
  .friendlist__image {
    width: 20vw;
    height: 20vw;
  }
  .friendlist__default_margin {
    margin-right: 10px;
  }
  .friendList_login {
    font-size: 1.4em;
  }
}