

@media (min-width: 400px) {
  .delete_container {
    width: 50px;
    margin-left: 60px;
    transform-origin: 0 center 0;
    transition: all 0.5s;
  }

  .delete {
    width: 30px;
    height: 30px;
    color: red;
    opacity: 0.3;
    transform-origin: 0 center 0;
    transition: all 1s;
  }

  .delete:before, .delete:after {
    position: absolute;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: white;
  }
}

@media (max-width: 399px) {
  .delete_container {
    width: 7vw;
    margin-left: 10vw;
    transform-origin: 0 center 0;
    transition: all 0.5s;
  }

  .delete {
    width: 7vw;
    height: 7vw;
    color: red;
    opacity: 0.3;
    transform-origin: 0 center 0;
    transition: all 1s;
  }

  .delete:before, .delete:after {
    position: absolute;
    content: ' ';
    height: 7vw;
    width: 2px;
    background-color: white;
  }
}

.delete:hover{
  opacity: 1;
}

.delete_container:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

.delete:hover:before, .delete:hover:after {
  opacity: 1;
  background-color: red;
}

.delete:before {
  transform: rotate(45deg);
}

.delete:after {
  transform: rotate(-45deg);
}
