
.delete_container {
  width: 50px;
  margin-left: 60px;
  transform-origin: 0 center 0;
  transition: all 0.5s;
  &:hover {
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.delete {
  width: 30px;
  height: 30px;
  color: red;
  opacity: 0.3;
  transform-origin: 0 center 0;
  transition: all 1s;
  &:hover{
    opacity: 1;
  }
}

.delete:before, .delete:after {
  position: absolute;
  content: ' ';
  height: 30px;
  width: 2px;
  background-color: white;
}


@media (max-width: 399px) {
  .delete_container {
    width: 7vw;
    margin-left: 10vw;
  }

  .delete {
    width: 7vw;
    height: 7vw;
  }

  .delete:before, .delete:after {
    height: 7vw;
    width: 2px;
  }
}

.delete:hover:before, .delete:hover:after {
  opacity: 1;
  background-color: red;
}

.delete:before {
  transform: rotate(45deg);
}

.delete:after {
  transform: rotate(-45deg);
}
