<div class="{{styles.offline}}">
    <img src="images/offline.png" height="400" width="400">
    <h1 class="{{styles.offline_main}}">УПС, похоже вы оффлайн(</h1>
    <span class="{{styles.offline_info}}"> Эта страница не может быть сейчас загружена</span>
    <span class="{{styles.offline_info}}">Попробуйте еще раз, когда ваше подключение к интернету наладится)</span>
</div>
