.okno {
    margin-left: -80px;
    margin-top: 22px;
    position: absolute;
    width: 130px;
    height: 120px;
    text-align: center;
    line-height: 60px;
    background-color: rgba(0,0,0,0.5);
    border: 4px solid #666;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #2e2e2e;
    z-index: 9999;

}

.okno:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 80px;
    top: -28px;
    border: 12px solid;
    border-color: #666 transparent transparent #666;
    transform: rotate(180deg);
}

.close {
}