.okno {
    background: rgba(102, 102, 102, 0.5);
    padding: 15px;
    border-radius: 10px;
    color: #0000cc;
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    z-index: 9999;
}
.close {
}