@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

.filmCard_titleRate__title{
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    color: white;
}

.filmCard_info_header_roles {
    font-size: 50px;
}

.filmCard_main_header {
    color: $color-text;
    font-family: $font-main;
    font-size: 20px;
    padding-bottom: 20px;
}

.filmCard_select button {
    border: none;
    background: $color-button;
    color: $color-text;
    font-family: $font-info;
    font-size: 30px;
}

.filmCard_select select {
    border: none;
    position: absolute;
    background: $color-secondary;
    color: $color-text;
    font-family: $font-info;
    font-size: 30px;
}

.filmCard_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filmCard_secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.filmCard_info__description {
    width: 40%;
    font-family: $font-info;
    font-size: 15px;
    color: gray;
}

.filmCard_info_more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filmCard_info_header_roles{
    margin-right: 200px;
    margin-top: -90px;
    margin-bottom: 35px;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.filmCard_roles {
    display: flex;
    flex-direction: column;
    margin-right: 230px;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font-size: 100px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.filmCard_main {
    min-width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filmCard_info__rate {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.filmCard_info__votes {
    font-size: 20px;
    color: gray;
    margin-left: 10px;
}


.filmCard_info_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.filmCard_info_info_genre {
    color: white;
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
}



.filmCard_info_header {
    margin-top: 60px;
    margin-bottom: 35px;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    color: white;
}

@media (max-width: 1239px) {
    .filmCard_titleRate__title{
        font-size: 10vw;
    }

    .filmCard_main_header {
        font-size: 1em;
        padding-bottom: 5px;
    }
    .filmCard_select button {
        font-size: 1.2em;
    }
    .filmCard_select select {
        font-size: 1.2em;
    }
    .filmCard_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filmCard_secondary {
        align-items: center;
    }

    .filmCard_info__description {
        margin-top: 40px;
        width: 80%;
        font-size: 15px;
        margin-bottom: 30px;
    }

    .filmCard_info_more {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filmCard_info_header_roles{
        margin-bottom: 20px;
        margin-top: 30px;
        margin-right: 0;
        width: 100%;
    }

    .filmCard_roles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .rating-area:not(:checked) > label {
        width: 8vw;
        padding: 0;
        font-size: 8vw;
        text-shadow: 0.5px 0.5px #bbb;
    }
}


@media (max-width: 459px) {
    .filmCard_info_header {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 32px;
    }

    .filmCard_info_header_roles {
        align-content: center;
        font-size: 32px;
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 620px) {
        iframe {
            width: 84vw;
            height: 47vw;
        }
}



.filmcard_roles_link {
    margin-top: 20px;
}
.filmcard_roles_link:hover{
}

.link {
    color: $color-text;
    text-decoration-line: none;
}

.link:hover {
    color: orange;
}

.rating-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: darkgoldenrod;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label{
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
    position: relative;
}



.filmCard_select select:hover {
    cursor: pointer;
}

.filmCard_select button:hover {
    cursor: pointer;
    background-color: #F4A460;
}
.filmCard_select button:active {
    outline: none;
    box-shadow: none;
    background-color: #009379;
}

.filmCard_select select:active {
    outline: none;
    box-shadow: none;
}

.filmCard_select select:focus {
    outline: none;
    box-shadow: none;
}

.filmCard_select button:focus {
    outline: none;
    box-shadow: none;
}


.filmCard_select option {
    border-radius: 10px;
}



