.custom__footer {
    background-color: rgba(61, 59, 59, 0.8);
    height: 80px;
    margin-top: -80px;
}

.footer__text {
    margin-left: 43%;
    margin-top: 20px;
    font-size: 14px;
    color: white;
}