.buttons {
    height: 32px;
    font-size: 15px;
    padding: 0 16px;

    border-radius: 100px;
    border: none;
    background: #D2691E;
    color: #FFFFFF;
    cursor: pointer;
}

.buttons:hover {
    background-color: #F4A460;
}

.buttons:active {
    background-color: #009379;
    outline: none;
}
.buttons:focus {
    outline: none;
    box-shadow: none;
}

.buttons__marginForFilmCard{
    margin-top: 20px;
    margin-left: 10px;
}

.buttons__margin {
    margin-top: 5px;
}