.menu-main button {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 100px;
    transition: 0.2s;
    background: black;
    color: #FFFFFF;
    margin-left: 600px;
}

.menu-buttons {
    float: right;
    margin-left: 50px;

}

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
.brand {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 1000;
    margin-right: 100px;
    margin-bottom: 10px;
}
.brand a {
    text-decoration: none;
    color: wheat;
}

.brand a:hover {
    cursor: default;
    text-decoration: none;
}

body.film1 {
    background-image: url("../images/test.jpg");
    height: 100vh;
    margin: 0;
}

.menu-main ul {
    list-style: none;
    padding-left: 0;
}

.menu-main li {
    float: left;
    width: 10%;
}

.menu-main {
    list-style: none;
    margin: 0px;
    padding: 40px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

.menu-secondary li {display: inline-block;}
.menu-secondary a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-left: 100px;
    font-size: 20px;
    text-transform: uppercase;
    align: center;
}
.menu-secondary a, .menu-secondary a:visited {color: white;}
.menu-secondary a.current, .menu-secondary a:hover{color: orange;}



.menu-main button:hover { background: rgba(255,255,255,.2); }
.menu-main button:active { background: white; }

.main {
    font-family: 'Playfair Display', serif;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.7);
    width: 70%;
    margin-left: 15%;
    align-items: center;
    padding-bottom: 600px;
}

.main h1 {
    color: #FFFFFF;
    font-size: 50px;
}

.rating p {
    font-size: 30px;
}

.colour-text1{
    color: green;
}
.colour-text2{
    color: gray;
    font-size: 30px;
}

.colour-text3{
    color: white;
    font-size: 20px;
}



.main ul {
    list-style: none;
    margin-left: 30px;
    margin-top: 30px;
}
.main li {
    float: left;
    width: 40%;
}

.rating {
    float:right;
    color: #FFFFFF;
}
.rating h1 {
    margin-bottom:0px;
}
.film {
    float:left;
    margin-left: 200px;
    color: #FFFFFF;
}
.film p {
    font-size: 30px;
}

.main button {
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    margin-top: 10px;
    margin-left: 20px;
}
.main button:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.main button:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.brand a:hover {
    text-decoration: none;
    cursor: default;
}
.menu-secondary a:hover {
    text-decoration: underline;
}

button {
    height: 32px;
    font-size: 15px;
    padding: 0 16px;

    border-radius: 100px;
    border: none;
    background: #D2691E;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #F4A460;
}

button:active {
    background-color: #009379;
}

button[disabled] {
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

button.secondary {
    margin-left: 10px;
    margin-top: 20px;
}


input {
    height: 32px;
    font-size: 15px;
    padding: 0 10px;

    border-radius: 100px;
    border: none;
    outline: 0;
    background-color: #DCDCDC;

    box-shadow: 0 0 0 2px #696969,
    0 0 0 4px #000000;

    margin: 4px;
    margin-top: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    border: 1px dotted #63476f;
    box-shadow: 0 0 0px 1000px #edf8f6 inset,
    0 0 0px 4px #edf8f6;
}

input:focus,
button:focus,
a:focus {
    box-shadow: 0 0 0 2px #FFFFFF,
    0 0 0 4px #FBD1DC;
    outline: none;
}



body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.login {
    display: flex;
    flex-direction: column;
    height: 32%;
    width: 20%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 1px 2px 10px 0px black;
    padding: 0px 20px 0px;
    opacity: 100%;
}

.register{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 20%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 1px 2px 10px 0px black;
    padding: 0px 20px 0px;
    opacity: 100%;
}

form main {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form main > * {
    margin-bottom: 20px;
}

form main > *:last-child {
    margin-bottom: 0;
}


form button:first-child {
    margin-right: 20px;
}

body, .page {
    height: 100vh;
    margin: 0;
}

.page{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../images/login.jpg);
background-repeat: no-repeat;
}

.page .wrapper__form {
    margin: auto;
}

.shadow {
    box-shadow: 0 -1px 15px #333333 !important;
    width: 850px;
    box-shadow: #333 0 0 15px;
    margin: auto;
    position: relative;
    z-index: 1;
    background-color: #fff;
    min-height: 850px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
    border-right: 1px solid #2e2e2e;
    border-bottom: 2px solid #2e2e2e;
    background: #f5f5f5;
    margin: 5px 0 0 0;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}

.profileInfoWrapLeft {
    margin: 0px;
    padding: 0px 0 30px 0;
    width: 180px;
    float: left;
}

.profileInfoWrapRight {
    float: left;
    max-width: 650px;
    margin: 10px;
    /* display: flex; */
}

.infoUser{
    font-family: Arial;
}

.avatarUserBoxP {
    border: 5px solid #ffffff;
    box-shadow: 0px 1px 2px #999999;
    width: 120px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 25px;
}

.infoUserAuth {
    font-family: Arial;
    color: #be1e1e;
    margin-top: 100px;
}

a {
    font-size: 22px;
    display: block;
}

