@import "kinopoisk/public/static/CSS/colors";

nav {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 5px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .nav {
        width: 110%;
    }
}

nav ul {
    text-align: left;
    margin: 0;
}

nav ul li {
    display: inline-flex;
    line-height: 3em;
    padding: 0 1.5em;
    color: $color-text;
}