@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";

.news_container {
  display: flex;
}

.news_login {
  color: $color-text;
  text-decoration-line: none;
  font-family: $font-info;
  font-size: 30px;
}

.news_login:hover {
  cursor: pointer;
  color: $color-secondary;
}

.news_info {
  color: $color-text;
  font-family: $font-info;
  font-size: 25px;
}

.news_rating{
  color: #666666;
  font-family: $font-info;
  font-size: 30px;
}

.news_container_column {
  display: flex;
  flex-direction: column;
}

.news_container_info {
  margin-top: 30px;
}

.news_dateTime {
  color: #888888;
  font-size: 15px;
  margin-top: 60px;
}

.news_container_comment {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  min-width: 300px;
  box-shadow: 10px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.news_comment_body {
  margin-left: 10px;
  font-size: 28px;
  font-family: $font-info;
  color: $color-text;
}

.news_comment {
  margin-top: 20px;
  width: 90%;
  margin-left: 35px;
}

.news_comment hr {
  margin-top: 10px;
}

