<div class="search_container">
    <input type="text" name="search" placeholder="Поиск.." class="search" id="search">
    <div class="search_diap">
        <span class="search_nav_links_aBig">Все</span>
        <span class="search_nav_links_a">Люди</span>
        <span class="search_nav_links_a">Фильмы</span>
        <span class="search_nav_links_a">Актёры</span>
    </div>
</div>
<div id="content"></div>
