.profileNav {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: default;
    color: white;
}

.menu-secondary a:hover {
    text-decoration: none;
    cursor: default;
}
