@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";
.profileNav {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: default;
    color: $color-text;
}

.menu-secondary a:hover {
    text-decoration: none;
    cursor: pointer;
}

.linkSignupLogin {
    color: $color-text;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.linkSignupLogin:hover {
    cursor: default;
}

.linkSignupLogin__black {
    color: black;
}

.linkSignupLogin:hover {
    color: $color-secondary;
}