.profileNav {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: default;
    color: white;
}

.menu-secondary a:hover {
    text-decoration: none;
    cursor: default;
}

.linkSignupLogin {
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    text-decoration: none;

}

.linkSignupLogin__black {
    color: black;
}

.linkSignupLogin:hover {
    color: orange;
}