<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../Actor.css">
    <title>Title</title>
</head>
<body>
<div class="actor__main">
    <div>
        <img width="250", height="300" src="{{Image}}" class="person__image">
    </div>
    <div class="person__info">
        <div class="person__name">
            {{Name}}
        </div>
        <div class="person__date">
            <span class="person__headers">Дата рождения:</span>{{BornDate}}
        </div>
        <div class="person__date">
            <span class="person__headers">Место рождения:</span>{{BornPlace}}
        </div>
    </div>
</div>
</body>
</html>