@import "kinopoisk/public/static/CSS/fonts";
@import "kinopoisk/public/static/CSS/colors";
.brand a {
    text-decoration: none;
    color: $color-text;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

.menu-secondary li {
    display: inline-block;
}

.round {
    border-radius: 100px; /* Радиус скругления */
    border: 1px whitesmoke; /* Параметры рамки */
    margin-bottom: -15px;
}

.brand {
    font-family: $font-main;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 1000;
    margin-right: 20px;
    margin-top: 5px;
}

.menu-secondary a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    color: $color-text;
    &:hover{color: orange;}
}

.menu-secondary_search a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    color: $color-text;
    &:hover{color: orange;}
}

.right {
    position: absolute;
    right: 0;
    top: 20px;
}

.round {
    margin-right: 10px;
}

.right_profile {
    position: absolute;
    right: 0px;
    top: 15px;
}

@media (max-width: 929px) {
    .brand {
        font-size: 0px;
        font-weight: 1000;
        margin-top: 30px;
    }

    .menu-secondary a {
        letter-spacing: 2px;
        font-size: 0vw;
    }

    .menu-secondary_search a {
        letter-spacing: 2px;
        font-size: 1em;
        position: absolute;
        margin-top: -35px;
        margin-left: -90px;
    }

    .right {
        top: 15px;
    }


    .round {
        margin-right: 0px;
    }
}

.profile {
    font-family: $font-main;
    text-decoration: none;
    color: $color-text;
}

.left {
    position: static;
    right: 0;
}
